<% include('includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"> </script>
</head>

<body>

	<div class="navbar-header">
		<img class="imglogo" src="imagens/logo_fatec.png">
	</div>

<div class="titulo">
<h1> Qual curso mais combina com você? </h1>
</div>

<div class="descrição">
	 O seu sonho é entrar na Fatec mas não sabe qual curso fazer? Que tal descobrir? <br>
	Nossos cursos são: Análise e Desenvolvimento de Sistemas, Sistemas para Internet, Logística, Gestão Portuária e Gestão Empresarial. <br>
	<button id="alerta"> Faça o teste e descubra ! </button>

</div>


<% include('includes/end.ejs') %> 