/*ESTILO DE TESTE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	font-family: 'Roboto';
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
		
}

h1 {
	color: #a02c2c;
	font-weight: 400;
	padding-bottom: 15px;
    line-height: 50px;
    padding-top: 15px;
}

div#context{
    margin-top: 40px;
    /* padding: 20px; */
}
div.answer-wrapper{
    line-height: 50px;
    font-size: 18px;
}

div.answer-wrapper p {
    margin-left: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* input[type=submit]{
    background-color: #a02c2c;
    color: white;
    font-size: 20px;
    margin: 40px auto;
    cursor: pointer;
    border: 0px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    outline: 0;
} */

.btn-submit {
    background-color: #a02c2c;
    color: white;
    font-size: 17px; 
}

.imglogo {
	padding-left: 60px;
	padding-top: 15px;
}

.navbar-header {
	background-color: black;
	padding: 0;
	margin: 0;
	height: 80px;
	width: 100%;
}

.content {
    border: 1px solid #f4f2f2;
    width:800px;
    margin: 30px auto 30px auto;
    padding-bottom: 20px;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.1);
    border-radius: 3px;
}

.main-title {
    font-weight: 700;
    text-align: center;
    background-color: #a02c2c;
    color: white;
    border-radius: 3px;
}

.title {
    color: #a02c2c;
}

.box-question:not(:last-child) {
    margin-bottom: 10px;
}
