<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz - Fatec</title>
</head>
<body>
    <form action="/user" method="POST">
        <label for="name">Digite seu Nome:</label>
        <input type="text" name="name">
        <label for="age">Digite sua idade:</label>
        <input type="number" name="age">
        <label for="age">Escolha seu sexo: </label>
        <label for="masc">Masculino</label>
        <input type="radio" id="masc" name="sex" value="masc">
        <label for="fem">Feminino</label>
        <input type="radio" id="fem" name="sex" value="femin">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>